{% extends 'base.html' %}

{% block content %}
    <h1>{{ module.course.title }}</h1>
    <h2>{{ module.title }}</h2>
    <p>{{ module.description }}</p>
    <a href="{% url 'module_update' module.id %}" class="btn btn-primary">Update</a>
    <a href="{% url 'module_delete' module.id %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'module_list' module.course.id %}" class="btn btn-secondary">Back to course</a>
    <h3>Lessons</h3>
    <ul>
        {% for lesson in module.lessons.all %}
            <li>
                <a href="{% url 'lesson_detail' lesson.id %}">{{ lesson.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'lesson_create' module.id %}" class="btn btn-primary">Add Lesson</a>
</div>
{% endblock %}