{% extends 'base.html' %}


{% block title %}Students{% endblock %}
{% block content %}
<section class="students">
    <div class="container">
        <h2>Students</h2>
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.email }}</td>
                    <td>
                        <a href="{% url 'student-detail' student.pk %}">View</a>
                        <a href="{% url 'student-update' student.pk %}">Update</a>
                        <a href="{% url 'student-delete' student.pk %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container">
        <a href="{% url 'student-create' %}" class="btn btn-primary">Add Student</a>

    </div>

</section>
{% endblock %}