<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CoLearn{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/courses_ajax.js' %}"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body>
    <!-- Component: Basic Navbar -->
    {% include 'includes/header.html' %}
    <!-- Navbar -->

    <!-- Dynamic Content -->
    <div class="content">
        {% block content %}

        {% endblock %}
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <p>&copy; 2024 CoLearn. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
